<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
 <%- include('navbar') %>

 <div class="px-4 py-5 my-5 text-center">
    <div class="display-5 fw-bold" style="margin: 50px;font-family:'Rubik', sans-serif;">My Name is Saswat Jyoti Das</div>
    <div class="col-lg-6 mx-auto " style="margin: 50px;">
      <p class="lead">I am currently in ITER College,Bhubaneswar<br>I am very passionate towards contributing and building project.
      </p>
    </div>
    </div>

    
    
  </div>
</body>
</html>