<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
 <%- include('navbar') %>

 <div class="px-4 py-5 my-5 text-center">
    <div class="display-5 fw-bold" style="margin: 50px;font-family:'Rubik', sans-serif;">My Name is Saswat Jyoti Das</div>
    <div class="col-lg-6 mx-auto " style="margin: 50px;">
      <p class="lead">I am currently in ITER College,Bhubaneswar<br>I am very passionate towards contributing and building project
      </p>
    </div>
    <div>Follow by Github Profile and Linkedin Profile</div>
    <div style="display:flex;justify-content: center;margin: 20px;">
    <a href="https://github.com/saswatdas121" class="nav-link text-secondary">
        <img src="/img/github.png" alt="" style="height: 60px; width: 60px;margin: 10px;">
      
    </a>
    <a href="https://www.linkedin.com/in/saswat-jyoti-das-9b5540271/" class="nav-link text-black">
        <img src="/img/linkedin.png" alt="" style="height: 60px; width: 60px;margin: 10px;">
       
      </a>
    </div>
</div>
</body>
</html>