<!DOCTYPE html>
<html lang="en">
    <%- include('head') %>
<body>
<div class="main-container">
    <div class="sub-container">
        <div class="heading">
            Trending IT Domains<br>which will blow you mind 
        </div>
        <div class="content">
            Explore Trending tecnologies,AI,Machine Learning,<br>
            Deep Learning,Blockchain and much more..
        </div>
           
           <div class="buttons">
            <a href="/categories "><button type="button" class="btn btn-outline-dark">Explore more</button></a>
            <a href="/contactus "><button type="button" class="btn btn-outline-dark">Contact us</button></a>
    </div></div>
    
    <div class="image-container">
        <img src="/img/index.png" alt="" height="500px" width="600px">
        
    </div>

   
   
</div>
</body>
</html>