<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous"> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Rubik:wght@300;500&display=swap" rel="stylesheet">
  </head>
<body>

<div class="px-3 py-2 bg-white text-black total">
    <div class="logo">
        BLOGS||
    </div>
    <div class="container">

        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
           
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-black text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            
          <li>
            <a href="https://github.com/saswatdas121" class="nav-link text-secondary">
                <img src="/img/github.png" alt="" style="height: 40px; width: 40px;">
              
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/saswat-jyoti-das-9b5540271/" class="nav-link text-black">
              <img src="/img/linkedin.png" alt="" style="height: 40px; width: 40px;">
             
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-black">
                <img src="/img/twitter.png" alt="" style="height: 40px; width: 40px;">
             
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom mb-3">
    <ul class="links">
            <li><a href="/home">Home</a> </li>
            <li><a href="/categories">Blogs</a> </li>
            <li><a href="/submit">Write your blog</a> </li>
            <li><a href="/about">About me</a> </li>
            <li><a href="/contact">Contact us</a> </li>
        </ul>
  </div>
</header>
</body>
</html>