<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
 <%- include('navbar') %>

 <div class="px-4 py-5 my-5 text-center">
    <div class="display-5 fw-bold" style="margin: 50px;font-family:'Rubik', sans-serif;">Your Blog is Submitted</div>
    <div class="col-lg-6 mx-auto " style="margin: 50px;">
      <p class="lead">Thank You for Contibuting.<br>Your contribution is valuable for us.
      </p>
    </div>
    <div></div>
    <div style="font-weight: bold;font-family:'Rubik', sans-serif ;margin: 20px;">
    Want to Contribute more?</div>
    <div>
        <a href="/submit"><button type="button" class="btn btn-outline-dark" style="margin: 20px;">Write Your Blog</button></a>
    </div>

    
    
  </div>
  <div class="footer py-3" style="background-color: black;color:white;">
    Made by Saswat
  </div>
</body>
</html>